{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ]
    },
    "build": {
        "presets": [
          [
          "@babel/preset-env",
          {
            "targets":{"node":"16"},
            "modules": false
          }
        ]
      ]
    }
  }
}
